<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleUsefulTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleUsefulTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <SimpleUsefulTimer.Properties.Settings>
            <setting name="TimerBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastTimerWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TimerForeground" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerForegroundGradient" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTimerForegroundGradient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomTimerForeground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DidReadWelcomeMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleTimerHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResetTimerHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerFont" serializeAs="String">
                <value />
            </setting>
        </SimpleUsefulTimer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SimpleUsefulTimer.Properties.Settings>
            <setting name="DefaultTimerBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultTimerFontSize" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="DefaultWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DefaultTimerForeground" serializeAs="String">
                <value>187, 42, 60</value>
            </setting>
            <setting name="DefaultForegroundGradient" serializeAs="String">
                <value>227, 38, 54</value>
            </setting>
            <setting name="DefaultToggleTimerHotkey" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="DefaultResetTimerHotkey" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DefaultTimerFont" serializeAs="String">
                <value>Segoe UI Variable Display Bold</value>
            </setting>
        </SimpleUsefulTimer.Properties.Settings>
    </applicationSettings>
</configuration>